@import "../../media";
@import "settings";

$class: "#{$layout-namespace}--content";

.#{$class} {
  max-width: 568px;
  margin: 0 auto;

  &.hide-all-except {
    display: none;
    &.show-mobile {
      @include mobile {
        display: block;
      }
    }
    &.show-tablet {
      @include tablet {
        display: block;
      }
    }
    &.show-desktop {
      @include desktop {
        display: block;
      }
    }
  }

  @include mobile {
    width: 100vw;
    box-sizing: border-box;
    padding: 0 20px;
  }
}
