@import "../../../colors";
@import "settings";

$class: "#{$form-progress-namespace}";

.#{$class} {
  display: flex;
  flex: 1;
  height: 100%;
  justify-content: center;
  align-items: center;

  &--placeholder {
    flex: 0 0 100px;
    display: flex;
  }

  &--dots {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;

    &--dot {
      &--link {
        width: 12px;
        height: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &--circle {
          margin: auto;
          background: rgba(white, .2);
          width: 5px;
          height: 5px;
          border-radius: 50%;
          &.selected {
            background: $gold;
            width: 8px;
            height: 8px;
          }
          &.completed {
            background: white;
          }
        }
      }
    }
  }
}
