$cormorant-sc: "Cormorant SC", serif;
$edwardian: "Edwardian Script ITC", "Edwardian Scr Alt ITC TT", "Edwardian Script", serif;
$helvetica-neue: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
