@import "../../fonts";
@import "../../colors";

$class: "radio";
$height: 40px;

.#{$class} {
  display: flex;
  align-items: center;
  position: relative;
  padding: 16px 0;

  &.no-margin-top {
    padding-top: 0;
  }

  &--input {
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0);
    opacity: 0;
  }

  &--checkbox {
    width: 18px;
    height: 18px;
    flex: 0 0 18px;
    border-radius: 50%;
    border: 2px solid white;
    position: relative;

    &:after {
      display: block;
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;
      margin-top: -4px;
      margin-left: -4px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: $gold;
      transform: scale(0);
      transition: all .2s;
      will-change: transform;
    }
  }

  &--input:checked ~ .#{$class}--checkbox {
    border: 2px solid $gold;

    &:after {
      transform: scale(1);
    }
  }

  &--label {
    line-height: 18px;
    color: white;
    font-size: 17px;
    margin-left: 12px;
    font-family: $cormorant-sc;
    transition: color .2s;
  }

  &--input:checked ~ .#{$class}--label {
    color: $gold;
  }
}
