@import "../../media";

$class: "home";

.#{$class} {
  &--images {
    width: 100vw;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;

    @include mobile {
      margin: 30px 0;
    }

    &--column {
      overflow: hidden;
      box-shadow: 0 2px 4px rgba(black, .5);
      min-width: 300px;
      background-size: cover;
      background-position: center center;
      &:nth-child(1) {
        flex: 0 1 496px;
        z-index: 1;
        height: 110px;

        @include mobile {

        }
      }
      &:nth-child(2) {
        flex: 0 1 496px;
        z-index: 2;
        height: 162px;

        @include mobile {
          display: none;
        }
      }
      &:nth-child(3) {
        flex: 0 1 496px;
        z-index: 1;
        height: 110px;

        @include mobile {
          display: none;
        }
      }
    }
  }
}
