@import "../../media";

$class: "narvark";

.#{$class} {
  &--photo {
    max-width: 568px;
    margin: 0 auto;

    @include mobile {
      width: 100vw;
      box-sizing: border-box;
    }

    &--image {
      width: 100%;
      height: auto;
      box-shadow: 0 2px 4px rgba(black, .5);
    }
  }

  &--maps {
    &--image {
      width: 100%;
      box-shadow: 0 2px 4px rgba(black, .5);
    }
  }
}
