@import "../../fonts";
@import "../../colors";
@import "../../media";

$class: "paragraph";

.#{$class} {
  color: $gold;
  font-family: $helvetica-neue;
  font-weight: 100;
  font-size: 16px;
  line-height: 1.5;

  &.hide-all-except {
    display: none;
    &.mobile {
      @include mobile {
        display: block;
      }
    }
    &.tablet {
      @include tablet {
        display: block;
      }
    }
    &.desktop {
      @include desktop {
        display: block;
      }
    }
  }

  &.align-center {
    text-align: center;
  }

  &.font-cormorant {
    font-family: $cormorant-sc;
    font-weight: 300;
  }

  &.font-edwardian {
    font-family: $edwardian;
    font-weight: 300;
  }

  &.red {
    color: #ff1d4e;
  }
}
