@import "../media";
$class: "app--header";

.#{$class} {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  max-width: 900px;
  margin: 0 auto;

  &--bar {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    &--logo {
      flex: 2;
      display: flex;
      justify-content: center;
      &--icon {
        @include mobile {
          width: 84px;
          height: 58px;
        }
      }
      &.extra-padding {
        padding-top: 76px;
        @include mobile {
          padding-top: 0;
        }
      }
    }

    &--buffer {
      flex: 0 0 58px;
    }
    &--drawer {
      flex: 0 0 58px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 58px;
      height: 58px;
      box-sizing: border-box;
      cursor: pointer;

      &--button {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        transition: background .2s;
        &--icon {
          margin: 13px 0 0 11px;
          width: 18px;
          height: 12.5px;
        }
      }

      &:hover {
        .#{$class}--drawer--button {
          background: rgba(black, .2);
        }
      }

      &:active {
        .#{$class}--drawer--button {
          background: rgba(black, .4);
        }
      }
    }
  }
}
