@import "~normalize.scss/normalize.scss";
@import "../media";
@import "../colors";
@import url('https://fonts.googleapis.com/css?family=Cormorant+SC');

html {
  background: $navy-blue;
}

body {
  display: flex;
}

.app {
  &--backdrop {
    z-index: 1;
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url("../../images/app/background-desktop.png"), url("../../images/app/stars-desktop.png"), linear-gradient(135deg, $navy-blue, $purple);
    background-repeat: repeat-x, repeat-x, no-repeat;
    background-size: (1318px / 2) (492px / 2), (990px / 2) (850px / 2), 100% 100%;
    animation: stars 40s linear infinite;

    @keyframes stars {
      from { background-position: center bottom, (990px / 2) bottom; }
      to { background-position: center bottom, 0px bottom; }
    }

    @include mobile {
      background-image: url("../../images/app/background-mobile.png"), url("../../images/app/stars-desktop.png"), linear-gradient(135deg, $navy-blue, $purple);
      background-repeat: repeat-x, repeat-x, no-repeat;
      background-size: (1318px / 2) (307px / 2), (990px / 2.5) (850px / 2.5), 100% 100%;
      animation: stars-mobile 27s linear infinite;

      @keyframes stars-mobile {
        from { background-position: center bottom, (990px / 2.5) bottom; }
        to { background-position: center bottom, 0px bottom; }
      }
    }
  }

  &--content {
    flex: 1;
    position: relative;
    z-index: 1;
  }
}
