@import "../media";
@import "../colors";
@import "../fonts";

$headerClass: "app--header";
$class: "app--header--nav";

.#{$class} {
  padding: 54px;
  @include mobile {
    padding: 0;
  }

  &--list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;

    @include mobile {
      flex-direction: column;
    }

    &--item {
      padding: 0;
      margin: 0;
      &--button {
        display: block;
        white-space: nowrap;
        padding: 0 2vw;
        color: $gold;
        font-family: $cormorant-sc;
        font-weight: 300;
        font-size: 1.25rem;
        text-decoration: none;
        transition: .2s;
        will-change: transform;

        @include mobile {
          padding: 10px 0;
          text-align: center;
        }

        &:hover {
          color: white;
          transform: scale(1.1);
          text-shadow: 0 0 10px rgba(white, .5), 0 0 5px rgba(white, .5), 0 0 1px $navy-blue;
        }
        &:active {
          color: white;
          transform: scale(1);
          text-shadow: 0 0 10px rgba(white, .5), 0 0 5px rgba(white, .5), 0 0 1px $navy-blue;
        }
      }
      &:first-child &--button {
        padding-left: 0;
      }
      &:last-child &--button {
        padding-right: 0;
      }
    }
  }
}

.#{$headerClass} {
  .#{$class} {
    @include mobile {
      display: none;
    }
  }
}
