@import "../colors";

$class: "app--nav";

.#{$class} {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0;
  transform: translateX(100%);

  &--drawer {
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: flex;

    &--dead-zone {
      flex: 0 0 30vw;
    }

    &--content {
      flex: 0 0 70vw;
      box-sizing: border-box;
      width: 70vw;
      color: white;
    }
  }

  &--drawer-background {
    position: fixed;
    height: 100vh;
    width: 70vw;
    top: 0;
    right: 0;
    bottom: 0;
    background: $navy-blue;
    box-shadow: 0 0 10px black;
    z-index: -1;

    &--backdrop {
      background: rgba($navy-blue, .5);
      backdrop-filter: blur(20px);
    }
  }

  &--open {
    animation: nav--enter .4s cubic-bezier(.4,0,.2,1) forwards;
  }

  &--close {
    animation: nav--leave .4s cubic-bezier(.4,0,.2,1) forwards;
  }
}

@keyframes nav--enter {
  0% { opacity: 0; }
  1% { transform: translateX(100%); opacity: 1; }
  100% { transform: translateX(0); opacity: 1; }
}

@keyframes nav--leave {
  0% { transform: translateX(0); opacity: 1; }
  99% { transform: translateX(100%); opacity: 1; }
  100% { opacity: 0; }
}
