@import "../../fonts";
@import "../../colors";

$class: "check-box";
$height: 40px;

.#{$class} {
  display: flex;
  align-items: center;
  position: relative;
  padding: 16px 0;

  &--input {
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0);
    opacity: 0;
  }

  &--checkbox {
    width: 18px;
    height: 18px;
    flex: 0 0 18px;
    border-radius: 2px;
    border: 2px solid white;
    position: relative;

    &--checkmark {
      position: absolute;
      width: 12px;
      height: 12px;
      top: 50%;
      left: 50%;
      margin-top: -6px;
      margin-left: -6px;
      transform: scale(0);
      transition: all .2s;
      will-change: transform;
    }
  }

  &--input:checked ~ .#{$class}--checkbox {
    border: 2px solid $gold;

    .#{$class}--checkbox--checkmark {
      transform: scale(1);
    }
  }

  &--label {
    line-height: 18px;
    color: white;
    font-size: 17px;
    margin-left: 12px;
    font-family: $cormorant-sc;
    transition: color .2s;
  }

  &--input:checked ~ .#{$class}--label {
    color: gold;
  }
}
